<!DOCTYPE html>

{% load staticfiles %}



<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />


<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>foo title</title>
</head>
<body>
    <header>
        <h1>Zone titre</h1>
        <nav id="user_log">
            <a href="#">s'inscrire</a>
            <a href="#">se connecter</a>
        </nav>
    </header>
    <article>
        <section>

            <p>ici la zone section</p>
         </section>
    </article>

</body>
</html>